.Product {
   /*  display: flex; */
    border-color: white; 
    border-style: solid;
    border-radius: 10pt;
    width: 200pt; 
    margin-left: 10px; 
    margin-right: 10px; 
    border-width: 1.5pt;
    box-shadow: 2px rgb(184, 183, 183);
  } 

  .Product-mageHolder{
      width: 100%;
      height: 150;
      background-color: white;
      border-top-left-radius: 10pt;
    border-top-right-radius: 10pt;
  }

  .Product-image{
    width: 100%;
    height: 36vmin; 
    border-radius: 10pt; 
  }

  .Description{
    width: 100%; 
    padding: 10pt;
    font-size: 15px;
    color: rgb(118, 118, 122);
  }

  .Price{
      color: white;
  }

  .Price:hover, .Description:hover{
    font-size: 16px;
    transition: 300ms
}

.Description-holder{
    display: flex;
    padding-right: 10pt;
}